.card-container{
   display: flex;
   flex-direction: column;
   background-color: #ccc;
   border: 1px solid gray;
   padding: 25px;
   cursor: pointer;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   transform: translateZ(0);
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transition:0.15s ease-out ;
   -webkit-transition:0.15s ease-out ;
   -moz-transition:0.15s ease-out ;
   -ms-transition:0.15s ease-out ;
   -o-transition:0.15s ease-out ;
   margin: 5px;
   height: 450px;
   width: 350px;
}
.card-container:hover{
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}